
 ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 63px;
    line-height: 63px;
    background-color: #8fbc8f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
li{
    float: right;
    border-style: none;
}
a{
    display: block;
    padding: 0 20px;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: rgb(38, 42, 45);
}